.root {
  padding: 20px;
  background: #EDEDED;
  width: 740px;
}

.items-tree-section {
  display: flex;
  gap: 15px;
  align-items: center;
  border-radius: 6px;
  height: 44px;
  background: white;
  padding-left: 14px;
  padding-right: 14px;
  position: relative;
  z-index: 2;
}

.items-tree-section-container {
  display: flex;
  gap: 15px;
  align-items: center;
  width: 100%;
}

.line {
  border-left: 2px dashed lightgray;
  border-bottom: 2px dashed lightgray;
  height: 50px;
  width: 100%;
  position: absolute;
  top: -50%;
  z-index: 0;
}

div:not([class]):not(:last-child) .line.parent {
  border-bottom: none;
}

.vline-2 {
  border-left: 2px dashed lightgray;
  height: calc(100% - 44px);
  position: absolute;
  top: 28px;
}

.item-container div:not([class]):last-child .item-container .vline-2 {
  display: none;
}

.v_line {
  border-left: 2px solid;
  top: 46px;
  position: absolute;
}

.h_line {
  border-bottom: 2px solid;
  margin: auto;
  position: absolute;
  top: 22px;
}
