.root {
  padding: 20px;
  background: #EDEDED;
  width: 740px;
}

.items-tree-section {
  display: flex;
  gap: 15px;
  align-items: center;
  border-radius: 6px;
  height: 44px;
  background: white;
  padding-left: 14px;
  padding-right: 14px;
}

.items-tree-section-container {
  display: flex;
  gap: 15px;
  align-items: center;
  width: 100%;
}

.v_line {
  border-left: 2px solid;
  top: 46px;
  position: absolute;
}

.h_line {
  border-bottom: 2px solid;
  margin: auto;
  position: absolute;
  top: 22px;
}