.root {
  padding: 20px;
  background: #EDEDED;
}

.items-tree {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  width: 786px;
}

.items-tree-section {
  display: flex;
  gap: 15px;
  align-items: center;
  border-radius: 6px;
  height: 44px;
  width: 100%;
}

.items-tree-section-end {
  padding: 15px;
}
